.header {
    background-color: #282c34;
    height: 56px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.search-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 40px;
    height: 64px;
    align-items: stretch;
}

.search-input {
    width: 400px;
    padding-left: 20px;
    margin-right: 10px;
    font-weight: bold;
}

.search-button {
    width: 120px;
    font-weight: bold;
}

.removable-forecast {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
  
.remove-button {
  background-color: #282c34;
  color: white;
  font-weight: bold;
  width: 48px;
  height: 48px;
  font-weight: bold;
  font-size: 24px;
  border-radius: 8px;
  margin-right: 40px;
  margin-top: auto;
  margin-bottom: auto;
}

.remove-button:hover {
    background-color: white;
    color: #282c34;
}