.WeatherDisplay {
  text-align: center;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: flex-start;
  margin: 40px;
  border: solid 2px black;
  border-radius: 8px;
}

.WeatherDisplay-today {
  margin: 20px;
  display: flex;
  justify-content: center;
}

.WatherDisplay-forecast {
  margin: 20px;
  display: flex;
  justify-content: center;
  flex-direction: column;
} 

.WeatherDisplay-weatherItem {
  min-width: 150px;
  height: 150px;
  padding-top: 8px;
  padding-bottom: 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #61dafb;
  border-radius: 12px;
  margin: 4px;
}

.WeatherDisplay-icon {
  width: 64px;
  height: 64px;
  margin: auto;
}

@media (min-width: 960px) {
  .WatherDisplay-forecast {
    flex-direction: row;
  }
}
